 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
html { font-size: 16px; }
 
body {
   margin: 0;
   font-family: "Nunito Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   height: 200vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p { 
  font-size: 1.2em; 
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

.header {
  background-color: #cc0000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.logo { max-height: 100px; }

.container {
  max-width: 980px;
  margin: auto;
}

.container h1 {
  margin: 1em 0;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.details {
  display: none;
  width: 500px;
  height: 500px;
  background-color: #000;
}

.result {
  flex: 1 0 15%;
  margin: 0.5em 0.5em 3em 0.5em;
  transition: 0.43s;
}

.result:hover { transform: scale(1.05) }

.result-image {
  background-color: #ededed;
  border-radius: 4px;
  padding: 0.2em;
  max-width: 31.25em;
}

.list-container .result-image > img { height: 150px; }

.list-container .result-image {
  text-align: center;
}

.list-container .result-info { padding: 0; }
.result-info { padding: 0 1.5em; }

.result-info span {
  font-weight: bold;
  display: block;
  margin: 0.3em 0;
  font-size: 1.2em;
}

.result-info span::first-letter,
.type::first-letter,
h1::first-letter {
  text-transform: uppercase;
}

h1 > span {
  color: #919191;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.big-image {
  height: 500px;
  image-rendering: pixelated;
}

.pokemon-details {
  background-color: #30a7d7;
  display: block;
  padding: 1em;
  border-radius: 4px;
}

/* Pokemon type Colors */
.pokemon-id {
  color: #919191;
  margin-top: 0.8em;
  display: block;
  font-weight: bold;
}

.type {
  padding: 0.2em 1em;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}

.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }